
<div class="container">
  <div class="row">
    <div class="col"><h2>Titre</h2></div>
    <div class="col"><h2>Organisateur</h2></div>
    <div class="col"><h2>Description</h2></div>
    <div class="col"><h2>Ville</h2></div>
    <div class="col"><h2>Prix</h2></div>
    <div class="col"><h2>Date de début</h2></div>
    <div class="col"><h2>Durée</h2></div>
    <div class="col"><h2>Date de fin</h2></div>
    <div class="col"><h2>Nombre de participants</h2></div>

    <div class="w-100"></div>
    <br>
    <div class="col"><%=@event.title %></div>
    <% @full_name=@event.organiser.first_name + " "+ @event.organiser.last_name %>
    <div class="col"><%= link_to(@full_name, "/users/#{@event.organiser.id}") %></div>
    <div class="col"><%=@event.description %></div>
    <div class="col"> <%=@event.location%> </div>
    <div class="col"> <%=@event.price%> euros</div>
    <div class="col"> <%=@event.start_date%> </div>
    <div class="col"> <%=@event.duration%> </div>
    <div class="col"> <%=@end_date%> </div>
    <div class="col"> <%=@participants_count%> </div>
  </div>
</div>


<br><br><br>

<%= button_to "Supprimer l'event", "/events/#{@event.id}", method: :delete %>
