<%= form_tag "/events/#{@event.id}/attendances", method: "post" do %>
<br>
<br><br><br>
  <h6><%= label_tag 'Prénom' %></h6>
  <%= text_field_tag 'first_name' %>
  <br>
  <br>
  <br>

  <h6><%= label_tag 'Nom' %></h6>
  <%= text_field_tag 'last_name' %>
  <br>
  <br><br>

  <h6><%= label_tag 'Email' %></h6>
  <%= text_field_tag 'email' %>
  <br>
    <br>
      <br>
        <br>


  <%= link_to "Inscription ", "/charges/new"%>
<% end %>
