<h6><%= label_tag 'Prénom' %></h6>
<%= text_field_tag 'first_name' %>
<br>

<h6><%= label_tag 'Nom' %></h6>
<%= text_area_tag 'last_name' %>

<h6><%= label_tag 'email' %></h6>
<%= text_area_tag 'email' %>
